// main: ../../scss/style.scss 
// input fields
input, select{
  &.w-input-field{
    display: block;
    height: 40px; 
    padding-left: .5rem;
    border: 2px solid $w-dark-03;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: normal;
    
    width: 100%;
    &:focus{
      outline: none;
      border-color: $w-primary-main;
      box-shadow: inset 0 0 0 1px $w-primary-main;
    }

    &[aria-invalid]{
      border-color: $w-red-00;
      &:focus{
        border-color: $w-primary-main;
      }
    }

    &[type='search']{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      + .w-button-icon{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -3px;
      }
    }
  }
}
.w-dark{
  input, select{
    &.w-input-field{
      border-color: $w-dark-03;
      background: lighten($w-dark-01, 5%);
      color: white;
      &:focus{
        border-color: $w-primary-darker;
      }
    }
  }
}

label.w-label{
  font-weight: 600;
  margin-bottom: .25rem;
  display: block;
  .w-help-text, .w-error-text{
    font-weight: 400;
    font-size: .875rem;
  }
  .w-error-text{
    color: $w-red-00;
    position: relative;
    padding-left: 1.2rem;
    .ri-alert-line{
      font-size: 1rem;
      position: absolute;
      left: 0;
      bottom: -1px;
    }
  }
}



@mixin radio-checkbox{
  position: relative;
  width: max-content;

  label{
    display: block;
    padding: 4px 0 6px 32px;
    line-height: 1;
    box-sizing: content-box;
  }

  input {
    height: 21px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 21px;

    + label{
      &:before{
        border: 2px solid $w-dark-03;
        
        content: "";
        height: 21px;
        left: 0;
        position: absolute;
        top: 0;
        width: 21px;
      }
      &:after{
        content:"";
        position: absolute;
        opacity: 0;
      }
    }
    &:checked + label{
      &:before{
        border-color: $w-primary-main;
      }
      &:after{
        opacity: 1;
      }
    }
    &:focus + label{
      &:before{
        box-shadow: 0 0 0 3px $w-primary-subtle;
        outline: 3px solid transparent; /* For Windows high contrast mode. */
      }
    }
    &:disabled + label{
      color: $w-dark-04;
      &:before{
        border-color: $w-light-00;
        background: $w-light-01;
      }
    }
  }
}

// radio buttons
.w-radio{
  @include radio-checkbox();
  [type="radio"]{
    + label{
      &:before{
        border-radius: 50%;
        background: white;
      }
      &:after{
        border: 7px solid $w-primary-main;;
        border-radius: 50%;
        left: 5.4px;
        top: 5.7px;
      }
    }
    &:checked{
      &:disabled + label{
        &:after{
          border-color: $w-light-00;
        }
      }
    }
  }
}

// checkboxes
.w-checkbox{
  @include radio-checkbox();
  [type="checkbox"] {

    + label{
      &:before{
        border-radius: 4px;
        background: white;
      } 
      &:after{
        border: 4px solid $w-light-04;
        border-left: 0;
        border-top: 0;
        height: 11px;
        width: 6px;
        left: 7px;
        top: 3px;
        transform: rotate(45deg);
      }
    }

    &:checked{
      + label{
        &:before{
          background: $w-primary-main;
        }
      }
      &:disabled + label{
        &:before{
          background: $w-light-01;
        }
      }
    }
  }
}

.w-dark{
  .w-checkbox, .w-radio{  
    input{
      + label{
        &:before{
          background: lighten($w-dark-01, 5%);
        }
        &:after{
          border-color: white;
        }
      }
      
      &:focus + label{
        &:before{
          box-shadow: 0 0 0 3px $w-primary-darker;
        }
      }
    }
  }
}

fieldset{
  border: 0;
  padding: 0;

  legend{
    font-weight: 600;
    margin-bottom: 8px;
  }
}

.w-checkbox + .w-checkbox, .w-radio + .w-radio {
  margin-top: 8px;
}



