// main: ../../scss/style.scss 
@import '../../scss/theme.scss';

@mixin button{
  display: inline-block;
  overflow: hidden;
  padding: 8.65248px 14px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  line-height: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 40px;
  &:hover{
    cursor: pointer;
  }
}

.wds-button-primary{
  @include button;
  background-color: $color-primary-dark;
  color: white;
  &:hover{
    background-color: $color-primary-normal;
  }
}

.wds-button-secondary{ 
  @include button;
  background-color: $color-neutral-light; 
  color: $color-neutral-dark;
  &:hover{
    background-color: lighten($color-neutral-light, 10);
  }
}