// main: ../../scss/style.scss 

@mixin button{
  display: inline-block;
  padding: 8.65248px 14px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 40px;
  font-weight: 500;
  min-width: 100px;
  box-shadow: $w-light-elevation-02;
  &:disabled{
    color: $w-dark-04;
    background: $w-light-00;
    cursor: default;
    &:hover, :active{
      background: $w-light-00;
      color: $w-dark-04;
    }
  }
}

.w-button-primary{
  @include button;
  background-color: $w-primary-main;
  color: white;
  &:hover{
    background-color: $w-primary-lighter;
  }
  &:active{
    background-color: $w-primary-darker;
  }
  &:focus{
    box-shadow: 0 0 0 3px $w-primary-subtle;
    outline: none;
  }
}

.w-button-secondary{ 
  @include button;
  background-color: $w-light-04; 
  border-color: $w-primary-main;
  &:hover{
    background-color: darken($w-light-04, 5);
  }
  &:active{
    background-color: darken($w-light-04, 10);
  }
  &:focus{
    box-shadow: 0 0 0 3px $w-primary-subtle;
    outline: none;
  }
}

.w-dark{
  .w-button-secondary{
    background-color: transparent;
    &:hover{
      background-color: lighten($w-dark-01, 10);
    } 
    &:active{
      background-color: lighten($w-dark-01, 15);
    } 
    &:focus{
      box-shadow: 0 0 0 3px $w-primary-darker;
    }
  }
}

.w-button-progressive{ 
  @include button;
  background-color: $w-green-01; 
  color: $w-light-04;
  &:hover{
    background-color: $w-green-02; 
  }
  &:active{
    background-color: $w-green-00; 
  }
  &:focus{
    box-shadow: 0 0 0 3px $w-green-04;
    outline: none; 
  }
}

.w-button-destructive{ 
  @include button;
  background-color: $w-red-01; 
  color: $w-light-04;
  &:hover{
    background-color: $w-red-02; 
  }
  &:active{
    background-color: $w-red-00; 
  }
  &:focus{
    box-shadow: 0 0 0 3px $w-red-04;
    outline: none;
  }
}

[aria-pressed='true']{
  box-shadow: inset  0 0 5px 1px $w-dark-03;
}

.w-button-icon{
  padding: 10px 12px;
  width: 40px;
  min-width: auto;
}

.w-dark{
  .w-button-primary{
    &:focus{
      box-shadow: 0 0 0 3px $w-primary-darker;
    }
  }
  .w-button-secondary{
    background-color: transparent; 
    &:focus{
      box-shadow: 0 0 0 3px $w-primary-darker;
    }
  }
  .w-button-progressive{
    &:focus{
      box-shadow: 0 0 0 3px $w-green-00;
    }
  }
  .w-button-destructive{
    &:focus{
      box-shadow: 0 0 0 3px $w-red-00;
    }
  }
}