// main: ../../scss/style.scss 

ul > li + li, ol > li + li{
  margin-top: 8px;
}
dl dd{
  margin-left: 0;
}
dl dt{
  color: $w-dark-02; 
  font-size: $w-body-14pt-font-size;
}

.w-dark{
  dl dt{
    color: $w-dark-04; 
  }
}