<dl>
  <div style="padding-bottom: 8px;">
    <dt>Term</dt>
    <dd>Definition</dd>
  </div>
  <div style="padding-bottom: 8px;">
    <dt>Bread</dt>
    <dd>A baked food made of flour.</dd>
  </div>
  <div style="padding-bottom: 8px;">
    <dt>Coffee</dt>
    <dd>A drink made from roasted coffee beans.</dd>
  </div>
</dl>