$w-primary-darker: #3568D4;
$w-primary-main:   #3E7BFA;
$w-primary-lighter:#6698FF;
$w-primary-subtle: #CCDDFF;

$w-dark-00: #1C1C28;
$w-dark-01: #28293D;
$w-dark-02: #555770;
$w-dark-03: #8F90A6;
$w-dark-04: #C7C9D9;

$w-light-00: #E4E4EB;
$w-light-01: #EBEBF0;
$w-light-02: #F2F2F5;
$w-light-03: #FAFAFC;
$w-light-04: #FFFFFF;

$w-red-00: #E53535;
$w-red-01: #FF3B3B;
$w-red-02: #FF5C5C;
$w-red-03: #FF8080;
$w-red-04: #FFE5E5;

$w-green-00: #05A660;
$w-green-01: #06C270;
$w-green-02: #39D98A;
$w-green-03: #57EBA1;
$w-green-04: #E3FFF1;

$w-blue-00: #004FC4;
$w-blue-01: #0063F7;
$w-blue-02: #5B8DEF;
$w-blue-03: #9DBFF9;
$w-blue-04: #E5F0FF;

$w-yellow-00: #E5B800;
$w-yellow-01: #FFCC00;
$w-yellow-02: #FDDD48;
$w-yellow-03: #FDED72;
$w-yellow-04: #FFFEE5;

$w-orange-00: #E57A00;
$w-orange-01: #FF8800;
$w-orange-02: #FDAC42;
$w-orange-03: #FCCC75;
$w-orange-04: #FFF8E5;

$w-teal-00: #00B7C4;
$w-teal-01: #00CFDE;
$w-teal-02: #73DFE7;
$w-teal-03: #A9EFF2;
$w-teal-04: #E5FFFF;

$w-purple-00: #4D0099;
$w-purple-01: #6600CC;
$w-purple-02: #AC5DD9;
$w-purple-03: #DDA5E9;
$w-purple-04: #FFE5FF;