<div style="width:200px; margin: 0 auto; padding-bottom: 32px;"><img style="width: 100%" src="{{path '/waffle.png' }}" alt="Waffles"></div>
<div style="padding-bottom: 16px;">{{> @field-text label="Username" type="text" id="username" autofocus="true"}}</div>
<div style="padding-bottom: 16px;">{{> @field-password label="Password" type="text" id="password"}}</div>
<div style="padding-bottom: 16px;">{{>@checkbox id="remember-me" label="Remember me" checked="checked"}}</div>
<div style="padding-bottom: 48px;">{{>@button--primary text="Log in" wide="true"}}</div>
<div style="padding-bottom: 48px; text-align: center"><a href="">Forgot your password?</a></div>
<div style="text-align: center">Don't have an account? <a href="">Create one</a>.</div>