<h1 class="padding-all-16">Profile Information</h1>

<form>
  <div class="margin-all-16">
    {{> @text-field label="First Name" id="firstname"}}
  </div>
  <div class="margin-all-16">
    {{> @text-field label="Last Name" id="lastname"}}
  </div>
  <div class="margin-all-16">
    <button class="wds-button-secondary">Cancel</button>
    <button class="wds-button-primary">Submit</button>
  </div>
</form>
