<div class="w-alert--warning" aria-live="assertive" role="alert">
  <i class="ri-alert-fill"></i>
  <span class="w-alert-content">Warning: this is an alert</span>
  <i class="ri-close-line"></i>
</div>