// main: ../../../scss/style.scss 

.w-password-showhide{
  position: absolute;
  bottom: 9px;
  right: 8px;
  width: 21px;
  text-align: center;

  input {
    height: 21px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 21px;

    + label{
      &:before{
        font-family: 'remixicon' !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "";
        content: "\ecb7";
        color: $w-primary-main;
      }
    }
    &:checked + label{
      &:before{
        content: "\ecb5";
      }
    }
    &:focus + label{
      &:before{
        box-shadow: 0 0 0 3px $w-primary-subtle;
        border-radius: 50%;
        outline: 3px solid transparent; /* For Windows high contrast mode. */
      }
    }
  }
}

.w-dark{
  .w-password-showhide{
    input {
      &:focus + label{
        &:before{
          box-shadow: 0 0 0 2px $w-dark-02;
        }
      }
    }
  }
}