{{> @field-text type="password" id="password"}}
<div class="w-checkbox" style="margin-top: 12px;">
  <input type="checkbox" id="showPassword" value="showPassword" onchange="showHidePassword(event)">
  <label for="showPassword">Show password</label>
</div>