<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ path '/style.css' }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"> 
  <title>Preview Layout</title>
</head>
<body style="background-color: #f2f2f5;">
{{{ yield }}}
<script src="{{ path '/script.js'}}"></script>
</body>
</html>
