<div style="display: flex">
  <label class="w-label" for="search"><span class="visually-hidden">{{label}}</span><br/><span class="w-help-text">{{helpText}}</span></label>
  <input class="w-input-field" id="search" type="search" placeholder="Search">
  <button class="w-button-primary w-button-icon" type="button"> <i class="ri-search-line"></i> </button>
</div>