// main: style.scss

$color-clover: #415A1C;
$color-gray: #4D5362;
$color-twine: #BF8E61;
$color-light: #E5E8DD;
$color-red: #A7372E;
$color-blue: #6192BF;

$color-teal-dark: #00796B;
$color-teal-normal: #009688;
$color-teal-light: #B2DFDB;
$color-gray-dark: #212121;
$color-gray-normal: #757575;
$color-gray-light: #BDBDBD;

$color-primary-dark: $color-teal-dark;
$color-primary-normal: $color-teal-normal;
$color-primary-light: $color-teal-light;
$color-neutral-dark: $color-gray-dark;
$color-neutral-normal: $color-gray-normal;
$color-neutral-light: $color-gray-light;

$w-font-weight-regular: 400;
$w-font-weight-semibold: 600; 
$w-font-weight-bold: 700;

$w-body-16pt-font-size: 1rem;
$w-body-14pt-font-size: 0.88rem;
$w-headings-h1-font-size: 2.5rem;
$w-headings-h2-font-size: 2rem;
$w-headings-h3-font-size: 1.75rem;
$w-headings-h4-font-size: 1.5rem;
$w-headings-h5-font-size: 1.25rem;
$w-headings-h6-font-size: 1rem;
$w-display-1-font-size: 4rem;
$w-display-2-font-size: 3.5rem;
$w-label-small-font-size: 0.62rem;
$w-label-medium-font-size: 0.75rem;
$w-label-large-font-size: 0.88rem;
$w-capitalize-font-size: 0.88rem;
$w-blockquote-font-size: 1.25rem;
$w-lead-font-size: 0.88rem;
$w-small-font-size: 0.75rem;
$w-tiny-font-size: 0.62rem;