// main: style.scss

$color-clover: #415A1C;
$color-gray: #4D5362;
$color-twine: #BF8E61;
$color-light: #E5E8DD;
$color-red: #A7372E;
$color-blue: #6192BF;

$color-teal-dark: #00796B;
$color-teal-normal: #009688;
$color-teal-light: #B2DFDB;
$color-gray-dark: #212121;
$color-gray-normal: #757575;
$color-gray-light: #BDBDBD;

$color-primary-dark: $color-teal-dark;
$color-primary-normal: $color-teal-normal;
$color-primary-light: $color-teal-light;
$color-neutral-dark: $color-gray-dark;
$color-neutral-normal: $color-gray-normal;
$color-neutral-light: $color-gray-light;
