<label style="font-weight: 600" for="password">{{#if required}}{{> @required-indicator}}{{/if}}{{label}}<br/><span style="font-weight: 400; font-size: .875rem;">{{helpText}}</span></label>
<input class="wds-input-field" id="password" type="password" {{#if required}}required onkeyup="checksIfEmpty(event)" {{/if}}>
<input type="checkbox" id="showPassword" value="showPassword" onchange="showHidePassword(event)">
<label for="showPassword">Show password</label>